@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --code: 'Inconsolata', monospace;
}

.container {
    justify-content: flex-start;
    /* margin: 1rem auto; */
    height: 100%;
    align-items: flex-start;
}

h1 {
    margin: 1rem auto;
    width: 100%;
}

p {
    max-width: 100%;
    padding: 0 5%;
    color: white;
    font-size: 1rem;
    margin: .5rem;
    text-align: justify;
}

b {
    font-weight: 400;
    font-size: inherit;
    font-family: inherit;
}

.back a{
    position: fixed;
    right: 1rem;
    bottom: 1.3rem;
    color: white;
    padding: .8rem;
    border-radius: .5rem;
    background-color: var(--bluish-gray-2);
    transition: .3s;
}

.back a:hover {
    background-color: var(--button);
    color: black;
}

.code {
    margin: 2rem auto;
    min-height: 5rem;
    padding: 1rem;
    width: 70%;
    font-family: var(--code);
    background-color: var(--bluish-gray-3);
    color: white;
    font-size: 1rem;
}

.infos {
    display: flex;
    /* margin-bottom: .3rem; */
}

.focus {
    margin: 1rem 0;
    font-size: inherit;
    font-family: inherit;
    /* color: lightcoral; */
    padding-left: 2rem;
}

ul li {
    list-style: none;
    font-size: 1rem;
    font-family: var(--code);
}

.infos div {
    margin: .3rem .2rem .3rem 0;
    font-family: var(--code);
    font-size: 1rem;
}
.green {
    color: lightgreen
}
.red {
    color: lightcoral;
}
.yellow {
    color: khaki;
}
.blue {
    color: lightskyblue;
}

img {
    max-width: 70%;
    margin: 1rem auto;
}

footer {
    height: 3rem;
}