@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --bluish-gray-1: rgb(40, 39, 59);
    --bluish-gray-2: rgb(21, 20, 37);
    --bluish-gray-3: rgb(10, 10, 19);
    --button: rgb(74, 151, 223);
    --button-hover: rgb(0, 152, 179);
}

body {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: var(--bluish-gray-1);
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: var(--bluish-gray-2);
    padding: .7rem 0;
    width: 48rem;
    border-radius: .5rem;
}

.container {
    /* position: relative;
    top: 1rem; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  

.menus {
    display: flex;
    /* width: 100%; */
    column-gap: 1rem;
    justify-items: space-between;
    position: relative;
    /* flex-direction: column; */
}

nav {
    list-style: none;
    text-align: center;
    width: 48rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    width: 23.35rem;
    padding: .8rem;
    background-color: var(--button);
    display: block;
    height: 3rem;
    margin-top: 1rem;
    transition: 0.3s;
    border-radius: .5rem;
    font-weight: 400;
    position: relative;
}

nav a:hover {
    background-color: var(--bluish-gray-2);
    color: white;
    /* font-weight: bold; */
    letter-spacing: .08rem;
}

nav a::before {
    content: '';
    padding: 0rem;
    height: 3rem;
    background-color: rgb(137, 168, 255);
    width: 0;
    position: absolute;
    top: 0;
    left: 50%;
    /* left: 0; */
    border-radius: .5rem;
    transition: .5s ease-in-out;
    opacity: .0;
}

nav a:hover::before {
    width: 23.35rem;
    opacity: .3;
    left: 0;
}